<% provide(:title, "About") %>
    
    <h1>About</h1>
    
    <div class="container">
        <div>
        <%= image_tag "OneRunner.jpg" %>
        <aside>
            <p>
             CSU Run for Life is committed to giving back to our communities. CSU Run for Life is dedicated
             to work towards bridging the gap between social & economical disparities that may affect our 
             communities from growing and developing.
            </p>
        </aside>
    </div>
    </br>
    <div>
         <p>
             We have partnered with charities such as the United Way, Feed the Children, Meals 
             on Wheels, Habitat for Humanity, The American Heart Foundation, only to name a few. 
            The CSU Life Run is a event that is organized and facilitated by a national group of runners
            and charities. The CSU Life Run was established in 1992 to helps to raise money for many charitable
            foundations around the world, to provide resources for the growth, development, and education for 
            underpriviledge and under served communities. CSU is dediticated to supporting families and individuals 
            with achiving a sustainable way of living through prividing economical, educational, and healthy food 
            services. Being able provide needy communities with these resources our organizations hopes to see a 
            result of more healthy stable families and ultimately more healthy, flurishing, and 
            innovative comm. 
        </p>        
        <aside>
            <%= image_tag "HFH.jpg" %>
            <%= image_tag "chick-fil-a.jpg" %>
            <%= image_tag "michelin.jpg" %>
        </aside>  
    </div>
    </div>    


    

