<% provide(:title, "About") %>
    
    <h1>About</h1>
    
    <div class="container">
        <div class="left">
        <%= image_tag "OneRunner.jpg" %>
        </div>
        <div class="right">
            <p >
             CSU Run for Life is committed to giving back to our communities. CSU Run for Life is dedicated
             to work towards bridging the gap between social & economical disparities that may affect our 
             communities from growing and developing.
            </p>
        </div>
        </div>
        
        <p>
             We have partnered with charities such as the United Way, Feed the Children, Meals 
             on Wheels, Habitat for Humanity, The American Heart Foundation, only to name a few. 
             marathon, long-distance footrace first held at the revival of the Olympic Games in 
             Athens in 1896. It commemorates the legendary feat of a Greek soldier who, in 490 
             bc, is supposed to have run from Marathon to Athens, a distance of about 40 km (25
             miles), to bring news of the Athenian victory over the Persians and then expired. The
             story of this messenger from the Battle of Marathon was later conflated with the 
             story of another Greek soldier, Pheidippides, who ran from Athens to Sparta in 
             advance of the fighting. Appropriately, in 1896 the first modern marathon winner was
             a Greek, Spyridon Louis.
             In 1924 the Olympic marathon distance was standardized at 42,195 metres (26 
             miles 385 yards). This was based on a decision of the British Olympic Committee to 
             start the 1908 Olympic race from Windsor Castle and finish it in front of the royal box
             in the stadium at London. The marathon was added to the women’s Olympic 
             program in 1984.
        </p>

    

