<% provide(:title, "About") %>
    
    <h1>About</h1>

    </br>
    <%= image_tag "OneRunner.jpg" , alt="Onr Runner Picture" %>
      
    <p>
     CSU Run for Life is committed to giving back to our communities. CSU Run for Life is dedicated
     to work towards bridging the gap between social & economical disparities that may affect our 
     communities from growing and developing.
    </p>
