<% provide(:title, "Contact") %>
<h1>Contact</h1>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Email us @ rkmteamproject@gmail.com</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
             <div class="row mb-3">
    <label for="validationServer01" class="col-sm-1 col-form-label">Subject:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer01">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer02" class="col-sm-1 col-form-label">Name:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer02">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer03" class="col-sm-1 col-form-label">Email:</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="validationServer03">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer04" class="col-sm-1 col-form-label">Phone:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer04">
    </div>
  </div>
  <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

