<% provide(:title, "Contact") %>
<h1>Contact</h1>



<form>
   <div class="row mb-3">
    <label for="validationServer01" class="col-sm-1 col-form-label">Subject:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer01">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer02" class="col-sm-1 col-form-label">Name:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer02">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer03" class="col-sm-1 col-form-label">Email:</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="validationServer03">
    </div>
  </div>
  <div class="row mb-3">
    <label for="validationServer04" class="col-sm-1 col-form-label">Phone:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="validationServer04">
    </div>
  </div>
   <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
      <div class="col-3">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
    </div>
   </div>      
    <div class="col-6">
      <div class="form-check">
          <label class="form-check-label" for="gridCheck">
             Please send me a copy
          </label> <input class="form-check-input" type="checkbox" id="gridCheck">
      </div>
    </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
