<% provide(:title, "Contact") %>
<h1>Contact</h1>





<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="First name" aria-label="name">
    </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
  <div class="col-mb-3">
      <label for="formGroupExampleInput2" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="(###) ### - ####">
  </div>
  </div>
<div class="col-mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Type you comments and questions here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </div>
</div>