
<div class="body-img">
   <h2 class="img-content">
       </br>
       </br>
       </br>
       </br>
    The life of a runner is one that is full of lif and joy as found in the  
    <a href="https://www.runnersworld.com/">Runners World!</a>
    sample application.
  </h2>
  <div class="img-btn">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<%#= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>

<%#= link_to image_tag("kitten.jpg", alt: "Kitten image"),
                     "https://rubyonrails.org/" %>